<ActionBar title="Team List" class="action-bar"></ActionBar>

<GridLayout class="page" rows="* auto">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../team', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>

    <StackLayout row="1">
        <Button text="Open Team One" nsRouterLink="../team/1"></Button>
        <Button text="Open Team Two witn Animation" nsRouterLink="../team/2" pageTransition="flip" pageTransitionDuration="3000"></Button>
        <Button text="Navigate in Teams" nsRouterLink="['/', { outlets: { teamTab: ['team/2'], playerTab: ['players'] } }]"></Button>
    </StackLayout>
</GridLayout>
